@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Avenir;
    src: url("./assets/fonts/Avenir-Heavy.woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url("./assets/fonts/Avenir-Roman.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url("./assets/fonts/Avenir-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url("./assets/fonts/Avenir-Light.woff2");
    font-weight: 300;
    font-style: normal;
}

/* STYLES */
html{
    overflow: hidden;
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    overflow: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #040404;
    color: #f9f9f9;
    font-family: Avenir;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

/* Responsive fonts */
@media only screen and (min-width:768px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width:768px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (min-width:479px) {
    body {
        font-size: 16px;
    }
}

.parent-container {
    min-height: 100vh;
}

.parent-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.movie-list {
    max-height: 100vh;
    overflow-y: auto;
}

.full-height {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}